.Happyphoto{
    float: left;
}
.sadphoto{ 
float:left;
}
.txt{
font-style: italic;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  body{

    background-image: url(kir-simakov-ERq20AgFQgY-unsplash.jpg);
   background-size:cover;
   
  }
